*.[oa]
*.cbp
*.depend
bin/
obj/
*.layout
.layout
.vs/

smallbpt/Release
smallbpt/Debug
smallbpt/x64
smallbpt/x86
x64/
x86/
Debug/
ipch/
*.db
*.filters
*.user
smallbpt/*.bmp
smallbpt/*.png
smallbpt/result
packages/